language: ruby
rvm:
  - 1.9.3
  - 1.9.2
  - 2.0.0
  - 2.1.0
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
  - ruby-head
  - jruby-head
  - 1.8.7
  - ree
notifications:
  recipients:
    - thomas@slash7.com
